@charset "utf-8";


@import url("navi.css");
@import url("forms.css");
@import url("tables.css");
@import url("homepage.css");
@import url("gallery.css");

html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; background-color:#ffffff}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{margin:0; padding:0; border:none;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D7DBE0;}
.imgl{margin:0 15px 15px 0; clear:left;}
.imgr{margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}
.row1{color:#ffffff; background-color:#ff5c33;}
.row1 a{color:#ffffff; background-color: #ff5c33;}
.row2{color:#ffffff; background-color:#ff5c33; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}
.row3{color:#ff5c33; background: top left repeat-x #ff5c33;}
.row4{color:#777777; background-color:#ffffff; border-bottom:2px solid #996633;}
.row5{padding:50px 0 30px 0; border-top:1px solid #ff5c33; background-color:#ffffff}
/* The sidebar menu */
.sidenav {
	margin-top: 10%;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #ff5c33;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #featured_slide, #container, #footer, #copyright{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:25px 0 30px 0;}
#header h1, #header p, #header ul{margin:0; padding:0; list-style:none; line-height:normal;}
#header h1{font-size:36px; font-variant:small-caps;}
#header p{margin-top:4px;}

/* ----------------------------------------------Content------------------------------------- */

#container{padding:30px 0;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{color:#8199A9; background-color:#F8F9F3;}
#container a{color:#591F58; background-color:#F8F9F3;}
#container .title{display:block; width:100%; margin:0 0 20px 0; padding:0 0 8px 0; font-size:14px; text-transform:uppercase; border-bottom:5px solid #8199A9;}
#content{display:block; float:left; width:630px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#591F58; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#591F58; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; text-transform:none; line-height:normal; border-bottom:1px dotted #999999;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; border:1px solid #999999;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{margin:0; padding:0; list-style:none; color:#666666; background-color:#ff5c33;}
#column #featured a{color:#591F58; background-color:#ff5c33;}
#column #featured li{display:block; width:250px; margin:0; padding:20px 25px; color:#666666; background-color:#ff5c33;}
#column #featured li p.imgholder{display:block; width:240px; height:90px; margin:20px 0 15px 0;}
#column #featured li h2{margin:0; padding:0 0 8px 0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:normal; border-bottom:1px dotted #999999;}
#container #column .readmore a{display:block; width:100%; margin-top:15px; height:auto; padding-left:0; font-weight:bold; text-align:right; line-height:normal; background:none;}
#column .latestnews{display:block; width:100%; margin:0; padding:0; list-style:none;}
#column .latestnews li{display:block; width:100%; height:99px; margin:0 0 11px 0; padding:0 0 21px 0; border-bottom:1px dotted #C7C5C8; overflow:hidden;}
#column .latestnews li.last{margin-bottom:0;}
#column .latestnews p{display:inline;}
#column .latestnews img{float:left; margin:0 10px 0 0; padding:4px; border:1px solid #C7C5C8; clear:left;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{line-height:2em; background:url("images/footer_bg.gif") 380px 0 repeat-y;}
#footer, #footer a{color:#ffffff; background-color:#ff5c33;}
#footer h2, #footer p, #footer ul, #footer a, #footer address{margin:0; padding:0; font-weight:normal; list-style:none; font-style:normal;}
#footer h2{margin:0 0 30px 0; padding:0; font-size:22px; color:#ffffff; background-color:#ff5c33;}
#footer .foot_contact{display:block; float:left; width:380px; margin:0 40px 0 0; padding:0;}
#footer .foot_contact address{margin-bottom:30px;}
#footer .footbox{display:block; float:left; width:170px; margin:0 15px 0 0; padding:0; font-size:12px;}
#footer .footbox h2{margin-bottom:20px; font-size:14px; text-transform:uppercase;}
#footer .last{margin:0;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:15px 0; border-top:1px solid #ffffff;}
#copyright p{margin:0; padding:0;}
#copyright, #copyright a{color:#ffffff; background-color:#ff5c33;}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: right;
    text-decoration: none;
    border-radius: 50%;
}
.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.carousel .item {
  height: 350px;

}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100px;
}